.row-input {
  margin-top: 10px;
}

.tb > tr > td:first-child {
  text-transform: capitalize;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 360px) {
  .container {
    width: 100%;
  }
}
